<div class="page-title-breadcrumb">
	<div class="page-header pull-left">
		<div class="page-title">Admin</div>
	</div>
	<ol class="breadcrumb page-breadcrumb hidden-xs">
        <li><i class="fa fa-home"></i>&nbsp;
        	<%= link_to "Home", :controller => "administrator/admin", :action => "index" %>
        	&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Admin</li>
        <!-- <li class="active">Invoice</li> -->
    </ol>
</div>
<div class="box-content">
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<div class="row" style="padding-top:10px;padding-bottom:10px">
							
	                     	<div class="panel-body">
	                     		<%= form_for @admin,url: {action: "create"} do |f| %>
								  <div class="form-group" style="text-align:left">
								    <label for="name" style="text-align:left">Name</label>
								    <%= text_field(:admin, :name,class:"form-control",placeholder:"Name") %>
								  </div>

								  <div class="form-group" style="text-align:left">
								    <label for="username" style="text-align:left">Username</label>
								    <%= text_field(:admin, :username,class:"form-control",placeholder:"Username") %>
								  </div>
								  
								  <div class="form-group">
								    <label for="Email">Email</label>
								    <%= email_field(:admin, :email,class:"form-control",placeholder:"Email") %>
								    
								  </div>

								  <div class="form-group">
								    <label for="Email">Password</label>
								    <%= password_field(:admin, :password,class:"form-control",placeholder:"Password") %>
								    
								  </div>

								  <div class="form-group">
								  	<input type="submit" class="btn btn-primary" value="Edit"> 
								  </div>
								<% end %>
	                     	</div>
                     	</div>
					</div>
				</div> <!-- Panel -->
			</div><!-- Col md -12 -->
		</div><!-- Row -->
	</div><!--  content -->
</div><!-- Box Content -->					
						       