<div class="page-title-breadcrumb">
	<div class="page-header pull-left">
		<div class="page-title">Transaction</div>
	</div>
	<ol class="breadcrumb page-breadcrumb hidden-xs">
        <li><i class="fa fa-home"></i>&nbsp;
        	<%= link_to "Home", :controller => "administrator/transaction", :action => "index" %>
        	&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Transaction</li>
        <!-- <li class="active">Invoice</li> -->
    </ol>
</div>
<div class="box-content">
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">

					<div class="panel-heading">
						<div class="row" style="padding-top:10px;padding-bottom:10px">
							<div class="col-md-6">
							<h4>Transaction</h4>
	                     	</div>
	                     	<div class="col-md-6">
                         	 	<form class="form-search left" action="#">
	                             <div class="input-icon right"><i class="icon-magnifier"></i><input type="text" class="form-control" placeholder="Search...">
	                              </div>
	                         </form>
                         	</div>
                     	</div>
					</div>

					<div class="panel-body">
					<%# daftar transaksi %>
					<%= link_to "Add",{:controller=>"administrator/transaction",:action=>"new"},:class=>"btn btn-primary" %>
					<br/>
					<br/>

					<table class="table table-bordered">
						<tr>
							<th rowspan="2">Date</th>
					  		<th rowspan="2">Transaction Name</th>
					  		<th colspan="2">Value</th>
					  		<!-- <th>Transaction Type</th> -->
					  		<th rowspan="2">
					  			Total<br>
					  			(Income - Expense)
					  		</th>
					  		<th rowspan="2">Action</th>
						</tr>
						<tr>
							<th>Income</th>
							<th>Expense</th>
						</tr>
						<% @transaction.each do |t| %>
							<tr>
								<td><%= t.created_at %></td>
								<td><%= t.transaction_name %></td>
								<td><%= t.value %></td>
								<td><%= t.value %></td>
								<td>Total</td>
								<td>
									<%= link_to "Edit",{:controller=>"administrator/transaction",:action=>"show",:id=>t.id},:class=>"btn btn-warning" %>

									<%= link_to "Delete",{:controller=>"administrator/transaction",:action=>"destroy",:id=>t.id},:class=>"btn btn-danger",:method=>:delete %>
								</td>
							</tr>
						<% end %>
					</table>
					</div>
					<div class="panel-footer">
						<%= paginate @transaction %>
					</div>
				</div> <!-- Panel -->
			</div><!-- Col md -12 -->
		</div><!-- Row -->
	</div><!--  content -->
</div><!-- Box Content -->

<style>
	table th {
		text-align: center;
		vertical-align: middle !important;
	}
</style>
