<h3 class="page-title">Expense</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <%= link_to "Home", :controller => "user/home", :action => "index" %>
            &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
        </li>
        <li>
            <%= link_to "Transaction", :controller => "user/transaction", :action => "index" %>
            &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
        </li>
        <li>
        <a href="#">Expense</a>
        </li>
    </ul>
</div>
<!-- Search -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-magnifier "></i>
            <span class="caption-subject bold uppercase">Search Expense</span>
        </div>
        <div class="tools">
            <a class="collapse" href="javascript:;" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body form">
        <%= form_tag user_expense_index_path, :method => 'get',:class=>"form-horizontal" do %>
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Title</label>
                <div class="col-md-4">
                    <%= text_field_tag :title, params[:title],:class=>"form-control" %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Category</label>
                <div class="col-md-4">
                    
                    <%= select_tag :category_id, options_from_collection_for_select(Category.where("tipe = ?",2), :id, :name, params[:category_id]), include_blank: true,:class=>"form-control" %>
                </div>
            </div>
          
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Search" class="btn btn-success">
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user "></i>
            <span class="caption-subject bold uppercase">Expense List</span>
            
        </div>
        <div class="actions">
            <%= link_to('/user/expense/new', {:name => 'New Expense',:title=>'New Expense',:class=>"btn btn-circle btn-primary"}) do %>
                <i class="fa fa-plus"></i>
                <span class="hidden-480">New</span>
            <% end %>
        </div>
    </div>

    <div class="portlet-body table-responsive"><!-- Begin body -->

                    <table class="table table-bordered ">
                        <tr>
                            <th>Name</th>
                            
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        
                        <% @transaction.each do |t| %>
                            <tr>
                                <td><%= t.name %></td>
                                
                                <td><%= t.category.name %></td>
                                <td><%= number_to_currency(t.amount, unit: "",precision: 0) %></td>
                                <td><%= t.date %></td>
                                <td>
                                    <%= link_to "Edit",{:controller=>"user/expense",:action=>"edit",:id=>t.id},:class=>"btn btn-warning" %>

                                    
                                </td>
                                <td><%= link_to "Delete",{ :controller=>"user/expense",:action=>"destroy", :id=> t.id }, {:method => :delete,:class=>"btn btn-danger",:data => {:confirm => 'Are you sure?'}} %></td>
                            </tr>
                        <% end %>
                    </table>
                    
                        <%= paginate @transaction %>
    </div><!-- End Body -->
</div><!-- End Portlet -->