<h3 class="page-title">Dashboard</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        
        <li>
        <a href="#">Home</a>
        </li>
    </ul>
</div>

<div class="box-content">
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <h3>Income</h3>
                <%= debug(@tot_income) %>
                
            </div>
            <div class="col-md-4">
                <h3>Expense</h3>
                
                
            </div>
            <div class="col-md-4">
                <h3>You Save</h3>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            	<%# @income.each do |i|  
                total=i["total"]/@income.length
                %>
                
                
                <%# end %>
               
                <div id="income"></div>
			</div>
			<div class="col-md-6">
				
                <div id="expense"></div>
			</div>
		</div>
	</div>
</div>
<script>
$(function () {

    $(document).ready(function () {

        // Build the Income chart
        $('#income').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            exporting: { enabled: false },
            title: {
                text: 'Total Income this month (<%= @date.strftime("%B")%>)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: "Income",
                colorByPoint: true,
                data: [
                <% @income.each do |i| %>
                {
                    name: "<%= i.category.name %>",
                    y: <%= number_with_precision i["total"].to_f/@income.length, :precision => 2 %>
                },
                <% end %>
                ]
            }]
        });

        // Build the Income chart
        $('#expense').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            exporting: { enabled: false },
            title: {
                text: 'Total Expense this month (<%= @date.strftime("%B")%>)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: "Expense",
                colorByPoint: true,
                data: [
                <% @expense.each do |i| %>
                {
                    name: "<%= i.category.name %>",
                    y: <%= number_with_precision i["total"].to_f/@income.length, :precision => 2 %>
                },
                <% end %>
                ]
            }]
        });
    });
});
</script>