
<h3 class="page-title">FAQ</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <%= link_to "Home", :controller => "administrator/faq", :action => "index" %>
            &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
        </li>
        <li>
            <a href="#">FAQ</a>
            <i class="fa fa-angle-right"></i>
            </li>
        <li>
        <a href="#">Edit</a>
        </li>
    </ul>
</div>

<div class="portlet box green">
	<div class="portlet-title">
        <div class="caption">
            <i class="fa fa-edit"></i>
            Edit FAQ
        </div>
    </div>
	<div class="portlet-body form">
						<%= form_for @faq,url: {action: "update"} do |f| %>
						<div class="form-body">
						<div class="form-group" style="text-align:left">
							<label for="title" style="text-align:left">Title</label>
								<%= text_field(:faq, :title,class:"form-control",placeholder:"Title") %>
						</div>
						<div class="form-group" style="text-align:left">
							<label for="title" style="text-align:left">Order</label>
								<%= number_field(:faq, :order,class:"form-control",placeholder:"Order") %>
						</div>
						<div class="form-group" style="text-align:left">
							<label for="title" style="text-align:left">Description</label>
								<%= text_area(:faq, :description,class:"form-control",placeholder:"Description") %>
						</div>
						</div>
						<div class="form-actions">
								  	<input type="submit" class="btn btn-primary" value="Edit"> 
								  	<a href="#" class="btn back-cancel default">Cancel</a>
						</div>
						<% end %>
	</div>
				
</div>