<h3 class="page-title">Transaction</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <%= link_to "Home", :controller => "user/home", :action => "index" %>
            &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
        </li>
        
        <li>
        <a href="#">Transaction</a>
        </li>
    </ul>
</div>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user "></i>
            <span class="caption-subject bold uppercase">Transaction List (<%= @month %>)</span>
            
        </div>
        <div class="actions">
           <div class="btn-group">
                <a data-toggle="dropdown" href="#" class="btn btn-circle btn-primary " aria-expanded="false">
                    <i class="fa fa-plus"></i> Add <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <%= link_to('/user/income/new', {:name => 'New Income',:title=>'New income',:class=>"green-text"}) do %>
                            <i class="fa fa-plus"></i>
                            <span class="hidden-480">New Income</span>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to('/user/expense/new', {:name => 'New Expense',:title=>'New Expense',:class=>"red-text"}) do %>
                            <i class="fa fa-plus"></i>
                            <span class="hidden-480">New Expense</span>
                        <% end %>
                    </li>
                </ul>
           </div>
        </div>
    </div>

    <div class="portlet-body table-responsive"><!-- Begin body -->
        
                    <table class="table table-bordered ">
                        <tr>
                            <th>Name</th>
                            
                            <th>Amount</th>
                            
                        </tr>
                       
                        <% @transaction.each do |t| 
                            if(t.t_category==1)
                                color="green-text"
                                icon="+"
                            else
                                color="red-text"
                                icon="-"
                            end
                            %>
                            <tr>
                                <td class="<%= color %>"><%= t.name %></td>
                                
                                <td class="<%= color %>"><%= icon %> <%= number_to_currency(t.amount, unit: "",precision: 0) %></td>
                                
                            </tr>
                        <% end %>
                        
                    </table>

                    <hr/ style="border-color:#000">
                    <div class="pull-left" style="font-size:16px;"><strong>Balance</strong></div>
                    <% 
                    if @balance < 0
                        tanda="-"
                        kelas="red-text"
                    else
                        tanda="+"
                        kelas="green-text"
                    end
                    %>
                    <div class="pull-right <%= kelas %>" style="font-size:16px;">
                        <%= tanda %>
                        <%= @balance %>
                    </div>
                    <div style="clear:both"></div>
                        <%= paginate @transaction %>
    </div><!-- End Body -->
</div><!-- End Portlet -->
<div id="chart"></div>


<script>
$(function () {
    $('#chart').highcharts({
        title: {
            text: 'Monthly Transaction',
            x: -20 //center
        },
        exporting: { enabled: false },
        subtitle: {
            text: '<%= Date.today.strftime("%Y")%>',
            x: -20
        },
        xAxis: {
            categories: <%= @mon %>
        },
        yAxis: {
            title: {
                text: 'Transaction'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            // valueSuffix: '$'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            color: '#000',
            name: 'Income',
            data: <%= @inc %>
        }, {
            color: 'red',
            name: 'Expense',
            data: <%= @exp %>
        }, {
            color: 'blue',
            name: 'Balance',
            data: <%= @bal %>
        }]
    });
});
</script>





