<!DOCTYPE html>
<html>
<head>
  <title>Okane</title>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="images/icons/favicon.ico" rel="shortcut icon">
  <link href="images/icons/favicon.png" rel="apple-touch-icon">
  <link href="images/icons/favicon-72x72.png" sizes="72x72" rel="apple-touch-icon">
  <link href="images/icons/favicon-114x114.png" sizes="114x114" rel="apple-touch-icon">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Top Bar
        ============================================= -->
        <div id="top-bar">

            <div class="container clearfix">

                <div class="col_half   clearfix nobottommargin">

                    <!-- Top Social
                    ============================================= -->
                    <div id="top-social">
                        <ul>
                            <li><a href="https://www.facebook.com/okanemanager" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                            <li><a href="https://twitter.com/okanemanager" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
                            <li><a href="https://plus.google.com/u/1/115652349374795853751/" class="si-gplus"><span class="ts-icon"><i class="icon-google-plus"></i></span><span class="ts-text">Google Plus</span></a></li>
                            
                        </ul>
                    </div>
                </div>

                <div class="col_half  fright col_last nobottommargin clearfix">

                    <!-- Top Links
                    ============================================= -->
                    <div class="top-links">
                        <ul>
                            <% if member_signed_in? %>
                              <li>
                              <%= link_to('Logout', destroy_member_session_path, :method => :delete) %>        
                              </li>
                            <% else %>
                              <li>
                              <%= link_to('Login', new_member_session_path)  %>  
                              </li>
                            <% end %>
                        </ul>
                    </div><!-- end top link -->
                </div>

                
            </div>
        </div><!-- End Top bar -->

        <!-- Header
        ============================================= -->
        <header id="header" class="full-header">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo" style="padding-top:20px;">
                        <%= link_to(root_url, {:id=>"logos",:class=>"standar-logo"}) do %>
                        <%= image_tag("logo_okane.png", :height=>"40",:alt => "Logo",:style=>"height:40px") %>
                        <% end %>
                        
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu">
                        
                        <% arr=[["Home","index"],["About","about"],["Benefits","benefits"],["Blog","blog"],["Contact","kontak"]] %>

                        <ul>
                            <% 
                            arr.each do |a| 
                            if(params[:action]==a[1])
                                kls="current";
                            else
                                kls="";
                            end
                            %>
                            
                            <li class="<%= kls %>">
                                <%= link_to({:controller=>"home",:action=>a[1]}) do %>
                                <div><%= a[0] %></div>
                                <% end %>
                            </li>
                            <% end %> 
                            
                        </ul>

                        <!-- Top Cart
                        ============================================= -->
                        <div id="top-cart">
                            <a href="#" id="top-cart-trigger"><i class="icon-user"></i><span>5</span></a>
                        </div>
                        <!-- End Top Cart -->

                        <!-- Top Search
                        ============================================= -->
                        <div id="top-search">
                            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                            <form action="search.html" method="get">
                                <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                            </form>
                        </div><!-- #top-search end -->

                    </nav>
                </div>
            </div>
        </header><!-- End Header -->

                    <%= yield %>
                

        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">

            <div id="copyrights">

                <!-- Footer Widgets
                ============================================= -->
                <div class="container clearfix">
                    <div class="col_half">
                        Copyrights &copy; 2015<br>
                        <div class="copyright-links"><a href="#" data-toggle="modal" data-target="#terms">Terms of Use</a> / <a href="#" data-toggle="modal" data-target="#privacy">Privacy Policy</a></div>
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">
                            <a href="https://www.facebook.com/okanemanager" class="social-icon si-small si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="ttps://twitter.com/okanemanager" class="social-icon si-small si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="https://plus.google.com/u/1/115652349374795853751/" class="social-icon si-small si-borderless si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
                                


    </div><!-- End Wrapper -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    
    <!-- TErm of use -->
    <div class="modal fade " id="terms" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content">
                   <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >Terms and Conditions</h4>
                    </div>
                    <div class="modal-body">
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p class="nobottommargin">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Privacy Policy -->
    <div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-body">
                <div class="modal-content">
                   <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" >Privacy Policy</h4>
                    </div>
                    <div class="modal-body">
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                            <p class="nobottommargin">Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%= javascript_include_tag 'functions', 'data-turbolinks-track' => true %>
</body>
</html>
