<!DOCTYPE html>
<html>
<head>
  <title>Okane</title>
  <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>

<body class="sidebar-color-grey font-source-sans-pro">
	
	<div class="fluid">
		<!-- Header page -->
		<div class="page-header-topbar">
			<nav id="topbar" class="navbar navbar-default container pln prn" role="navigation">
				<div class="container-fluid pln prn">
					<div id="topbar-menu" class="navbar-collapse pln prn">
						<ul class="nav navbar-nav logo-wrapper">
							<li class="btn-menu-toggle">
								<div id="menu-toggle" class="show-collapsed">
									<i class="fa fa-bars"></i>
								</div>
							</li>
							<li class="pull-left">
								<a href="#">Logo</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a class="dropdown-toggle" href="#" data-toggle="dropdown">
									<i class="icon-user"></i>&nbsp;<span class="caret"></span>
								</a>
                            <ul class="dropdown-menu dropdown-user pull-right">
                                <li>
                                    <div class="navbar-content">
                                        <div class="row">
                                            <div class="col-md-5 col-xs-5"><img class="img-responsive img-circle" alt="" src="http://api.randomuser.me/portraits/men/27.jpg">

                                                <p class="text-center mtm"><a class="change-avatar" href="#">
                                                    <small>Set Avatar</small>
                                                </a></p>
                                            </div>
                                            <div class="col-md-7 col-xs-5"><span><%= current_member.name %></span>

                                                <p class="text-muted small"><%= current_member.email %></p>

                                                <div class="divider"></div>
                                                <a href="#">
                                                    <button class="btn btn-default btn-sm" href="#">Edit Profile
                                                    </button>
                                                </a></div>
                                        </div>
                                    </div>
                                    <div class="navbar-footer">
                                        <div class="navbar-footer-content">
                                            <div class="row">
                                                <div class="col-md-6 col-xs-6"><a href="#">
                                                    <button class="btn btn-default btn-sm">Change Password</button>
                                                </a></div>
                                                <div class="col-md-6 col-xs-6">
                                                	<% if member_signed_in? %>
							                         
							                          <%= link_to(destroy_member_session_path, :method => :delete) do |s| %> 
							                          <button class="btn btn-info btn-sm pull-right" href="page-lock-	screen.html">Sign Out
                                                    	</button>       
							                          <% end %>
							                        
							                        <% else %>
							                          
							                          <%= link_to(new_member_session_path) do |s|  %>  
							                          <button class="btn btn-info btn-sm pull-right" href="page-lock-	screen.html">Sign In
                                                    	</button> 
                                                      <% end %>
							                          
							                        <% end %>
                                                	
                                            	</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<!-- End Header page -->
		<!-- Body Page -->
		<div id="wrapper">
			<div id="page-wrapper">
				<!-- Begin Sidebar -->
				<div class="sidebar-main sidebar">
					<div class="sidebar-collapse sidebar-scroll">
						
						<ul id="sidebar-main" class="nav">
							<li>
								<%= link_to('/user/', {:name => 'Dashboard',:title=>'Dashboard'}) do %>
                                <i class="icon-home"></i>
                                <span class="menu-title">Dashboard</span>
                                <% end %>
								
							</li>
							
							<li>
								<a href="#">
                                <i class="icon-calendar"></i>
                                <span class="menu-title">Transaction</span>
                                <span class="arrow"></span>
                                </a>
                                <ul class="nav nav-second-level collapse">
                                	<li>
                                		<%= link_to('/user/income', {:name => 'Income',:title=>'Income'}) do %>
			                                <i class="icon-home"></i>
			                                <span class="submenu-title">Income</span>
			                            <% end %>
                                	</li>
                                	<li>
                                		<%= link_to('/user/expense', {:name => 'Expense',:title=>'Expense'}) do %>
			                                <i class="icon-home"></i>
			                                <span class="submenu-title">Expense</span>
			                            <% end %>

                                	</li>
                                	<li>
                                		<%= link_to('/user/report', {:name => 'Report',:title=>'Report'}) do %>
			                                <i class="icon-docs"></i>
			                                <span class="submenu-title">Report</span>
			                            <% end %>
                                	</li>
                                </ul>
							</li>
							<li>
								<%= link_to('/user/faq/show', {:name => 'FAQ',:title=>'FAQ'}) do %>
                                <i class="icon-question"></i>
                                <span class="menu-title">FAQ</span>
                                <% end %>
								
							</li>
							<li>
								<%= link_to('/user/setting/show', {:name => 'Setting',:title=>'Setting'}) do %>
                                <i class="icon-settings"></i>
                                <span class="menu-title">Setting</span>
                                <% end %>
								
							</li>
							
						</ul>
						
						
					</div>
				</div>
				<!-- End Sidebar -->
				<div class="page-content">
					<%= yield %>
				</div>
			</div>
		</div>
		<!-- End Body -->
		<!-- Begin footer -->
		<div id="footer">
			<div class="copyright"> Create by: Dana
            	<div class="pull-left">&copy;2015 </div>
        	</div>
		</div>
		<!-- End Footer -->
	</div>

</body>
</html>
